
.myButton {
  background-color: rgb(119, 48, 151);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  justify-content: 'center';
  align-items: 'center'; 
}

.myButton:hover {
  background-color: rgb(206, 87, 230);
}
